.git
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
.pytest_cache
*.egg-info
dist/
build/
tests/
*.db
*.frx.db
*.gfa
!data/kp_pangenome.gfa
*.fasta
*.fa
*.txt
*.md
!README.md
docs/
hgt.txt
panini.txt
theory.txt
vga_circular.txt
obtained.txt
